@media (max-width: 760px) {
  body {
    background-color: rgb(17, 17, 17);
  }
  .wrap {
    min-width: 87%;
    gap: 2%;
  }
  .outputScreen {
    margin: 15% 0;
  }
  .btn {
    font-size: 1.2rem;
  }
}
